__pycache__/
cnn_classifier_cat_lion_tiger/tmp/processed_imgs/gato/*.jpg
cnn_classifier_cat_lion_tiger/tmp/processed_imgs/leao/*.jpg
cnn_classifier_cat_lion_tiger/tmp/processed_imgs/tigre/*.jpg
imgs/gato/*.jpg
imgs/leao/*.jpg
imgs/tigre/*.jpg
imgs/gato/
imgs/leao/
imgs/tigre/
imgs
__pycache__/__init__.cpython-311.pyc

