__pycache__/
cnn_classifier_cat_lion_tiger/tmp/processed_imgs/gato/*.jpg
cnn_classifier_cat_lion_tiger/tmp/processed_imgs/leao/*.jpg
cnn_classifier_cat_lion_tiger/tmp/processed_imgs/tigre/*.jpg
imgs/gato/*.jpg
imgs/leao/*.jpg
imgs/tigre/*.jpg
imgs/gato/
imgs/leao/
imgs/tigre/
cnn_classifier_bird_drone/tmp/processed_imgs/birds/*.jpg
cnn_classifier_bird_drone/tmp/processed_imgs/birds/*.png
cnn_classifier_bird_drone/tmp/processed_imgs/birds/*.jpeg
cnn_classifier_bird_drone/tmp/processed_imgs/birds/*.bmp
cnn_classifier_bird_drone/tmp/processed_imgs/drones/*.jpg
cnn_classifier_bird_drone/tmp/processed_imgs/drones/*.png
cnn_classifier_bird_drone/tmp/processed_imgs/drones/*.jpeg
cnn_classifier_bird_drone/tmp/processed_imgs/drones/*.bmp

cnn_classifier_bird_drone/imgs/birds/*.jpg
cnn_classifier_bird_drone/imgs/birds/*.png
cnn_classifier_bird_drone/imgs/birds/*.jpeg
cnn_classifier_bird_drone/imgs/birds/*.bmp

cnn_classifier_bird_drone/imgs/drones/*.jpg
cnn_classifier_bird_drone/imgs/drones/*.png
cnn_classifier_bird_drone/imgs/drones/*.jpeg
cnn_classifier_bird_drone/imgs/drones/*.bmp

cnn_classifier_bird_drone/tmp/fine_tunel_model.keras
__pycache__/__init__.cpython-311.pyc
.venv/
